body {
    padding: 50px 0px 0px 0px;
    background: rgb(81,45,168);
    background: linear-gradient(90deg, rgb(136, 97, 227) 34%, rgba(0,212,255,1) 100%);
    z-index: 0;
}

.navbar-dark{
    background-color: #512da8;
}
.navbar-dark ul{
    column-gap: 20px;
}
.navbar-dark a{
    color:aliceblue;
}
.loginsec{
    margin-top: 5%;
    display:flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.loginitems{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 10px;
}
.loginmain{
    padding: 20px 40px 20px 40px;
    width: 30%;
    height: fit-content;
    border-radius: 7px;
    background: #ffffff;
    box-shadow: 2px 2px 20px 2px #1a1a1a;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.loginmain h1{
    font-weight: normal;
    margin-bottom: 5%;
}
.loginform{
    display:flex;
    flex-flow: column nowrap;
    margin-bottom: auto;
    row-gap: 5px;
}
.loginbuttons{
    margin-top: 20px;
    display:flex;
    flex-flow: row wrap;
    gap: 10px 70px;
    justify-content: center;
}
.loginbuttons *{
    width: 50%;
}

.gustosselector{
    margin-top: 10px;
    padding: 20px 40px 20px 40px;
    width: 30%;
    height: fit-content;
    border-radius: 7px;
    background: #ffffff;
    box-shadow: 2px 2px 20px 2px #1a1a1a;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
#gustos{
    height: fit-content;
}
.gustossec{
    display: flex;
    column-gap: 100px;
}
.gustosactuales{
    padding: 20px 40px 20px 40px;
    width: 30%;
    height: fit-content;
    border-radius: 7px;
    background: #ffffff;
    box-shadow: 2px 2px 20px 2px #1a1a1a;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-self: center;
}